include "../layouts/index_layout.blade"

.ui-layout-center
	form(action="" method="post")
		div
			label Username:
			input(type="text" name="username")
		div
			label Password:
			input(type="password" name="password")
		div
			input(type="submit" value="Log In")